/*
 * Some Swing standard-style corrections for JEditorPane.
 * Font-sizes for all elements used in HTML help texts.
 */

h1 {
    font-size: 30;
    text-decoration: underline;
    margin-top: 0;
}
h2 {
    font-size: 26;
    margin-top: 0;
}
h3 {
    font-size: 23;
    margin-top: 0;
}
h4 {
    font-size: 20;
    margin-top: 0;
}
h5 {
    font-size: 18;
    margin-top: 0;
}
p {
    font-size: 16;
    margin-top: 0; /* margin-top 15 for <p> would create a big gap between <h1> and <p> */
    margin-bottom: 10; /* instead, create a gap to next heading */
}
li {
    font-size: 16;
}
